<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQKl3pIZsfVCgtcH3FAYahH6Vt-WRdV0c</string>
	<key>GCM_SENDER_ID</key>
	<string>477001297448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodoApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-26d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-26d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477001297448:ios:76cd01eaa207f1866e4f1d</string>
</dict>
</plist>